@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html, * {
    padding: 0;
    margin: 0;

    --first-color: #010404;
    --second-color: #0e9390;
    --third-color: #9af5ea;
    --fourth-color: #EEEEEE;
    --shadow: #01040434;
    
    /* --first-color: #EEEEEE;
    --second-color: #7EFAFF;
    --third-color: #393E46;
    --fourth-color: #222831; */

    font-family: 'Rubik', sans-serif;
    font-size: 14px;

    cursor: default;
}

a {
    text-decoration: none;
    color: var(--first-color);
    cursor: pointer;
}

.app {
    min-height: 100vh;

    background-color: var(--fourth-color);
    color: var(--first-color);
}
