@import url('../../App.css');

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 100vw;
    min-height: 100vh;
}

.home h1 {
    font-size: 8rem;

    color: transparent;

    filter: drop-shadow(0 0 15px var(--shadow));

    background-image: url('./background.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;

    transition: all ease 0.75s;
}

.home h1:hover {
    transform: scale(1.1);
}

.home h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black;

    filter: drop-shadow(0 0 15px var(--shadow));
}